<section class="bg-light">
    <div class="container ">
        <div class=" col-md-12">
            <div class="container mt-5">
                <div class="section-title">
                    <h2>Book food </h2>
                </div>
            </div>

            <form class="col-md-12" style="margin-left: 152px;" method="POST" action="/search-food">

                <div class="row ">

                    <input class="form-control col-md-6 l-5 " type="search" placeholder="Search" name="food"
                        aria-label="Search" id="food">
                        <input type="hidden" name="uid"  value="{{userdetails._id}}">
                    <button class="btn btn-outline-success col-md-2 my-2 my-sm-0">Search</button>

                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row" id="foods">
                    {{#if status}}
                        
                    {{else if searchfood}}
                    {{#each searchfood}}
                        <div class="col-md-5 mt-5">

                        <div class="card" style="height:300px;">
                            <img class="card-img-top img-fluid p-2" src="/hotel/food-images/{{this._id}}.jpg"
                                id="food_image" alt="Card image cap" style="width: 250px; height:116px;">
                            <div class="card-body">

                                <h6 id="restuarant_name">{{this.restaurant}}</i></h6>
                                <hr>
                                <h6 id="food_name">{{this.foodname}}</h6>
                                <h6 class="" id="food_price" style="font-family: system-ui;">{{this.price}}/-</h6>
                                <div class="text-center mt-3">
                                    <a class="btn btn-sm btn-primary" href="/add-food/{{this ._id}}">Add +</a>
                                </div>


                            </div>
                        </div>

                    </div>
                    {{/each}}
                    {{else if noSearch}}
                     <div class="" >
                         
                         <img src="/assets/images/nofood.svg" alt="" style="width: 47%;margin-left:139px;margin-top: 36px;" >
                         <span style="margin-left:186px;">Food not found !</span> 
                          
                    </div>
                    {{/if}}
                    {{#if noSearch}}
                    {{else if searchfood}}
                    {{else if foods}}
                    {{#each foods}}
                    <div class="col-md-5 mt-5">

                        <div class="card" style="height:300px;">
                            <img class="card-img-top img-fluid p-2" src="/hotel/food-images/{{this._id}}.jpg"
                                id="food_image" alt="Card image cap" style="width: 250px; height:116px;">
                            <div class="card-body">

                                <h6 id="restuarant_name">{{this.restaurant}}</i></h6>
                                <hr>
                                <h6 id="food_name">{{this.foodname}}</h6>
                                <h6 class="" id="food_price" style="font-family: system-ui;">{{this.price}}/-</h6>
                                <div class="text-center mt-3">
                                    <a class="btn btn-sm btn-primary" href="/add-food/{{this._id}}">Add +</a>
                                </div>


                            </div>
                        </div>

                    </div>



                    {{/each}}
                    {{/if}}
                </div>
            </div>
            {{#if nofood}}
            {{else}}
            <div style="border-left: 0.5px solid rgb(173, 180, 173);margin-top:50px"></div>
            {{/if}}
            {{#if nofood}}
            <div class="container">
                <img src="/assets/images/nofood.svg" alt=""  style="width:427px; margin-left:350px;margin-top: 78px;">
                <p class="text-center mt-4 font-weight-bold">Food is not available without booking room &#128577;	</p>
            </div>
            
            {{else}}
            <div class="col-md-5 mt-5">
                {{!-- <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Added Items</h3>
                        <p class="card-text">Food</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div> --}}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Restaurant</th>
                            <th scope="col">Food</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>

                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each items}}

                        <tr>

                            <th scope="row">{{this.foods.restaurant}}</th>

                            <td>{{this.foods.foodname}}</td>

                            <td>
                                <small><a href="#"><i class="fa fa-minus mr-2 "
                                            onclick="changeQuantity('{{this._id}}','{{this.foods._id}}',-1)"></i></a></small>
                                <span class="quantity" id="{{this.foods._id}}">{{this.quantity}}</span>
                                <small><a href="#"><i class="fa fa-plus ml-2"
                                            onclick="changeQuantity('{{this._id}}','{{this.foods._id}}',1)"></i></a></small>
                            </td>

                            <td id="{{this.foods._id}}">{{this.foods.price}}/-</td>
 
                            <td><a href="#" onclick="removeFood('{{this._id}}','{{this.foods._id}}')"><i
                                        class="icofont icofont-trash"></i></a></td>
                        </tr>
                        {{/each}}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Sub Total</td>
                            <td>{{total}}/-</td>
                            <td><a href="/order" class="btn btn-rounded btn-success">Order</a></td>
                        </tr>
                        <td></td>
                    </tbody>
                </table>
            </div>
            {{/if}}
        </div>
   
        
    </div>
</section>
<script>
    function changeQuantity(cartId, foodId, count) {
        let quantity = parseInt(document.getElementById(foodId).innerHTML)

        $.ajax({
            url: '/change-food-quantity',
            data: {
                cart: cartId,
                food: foodId,
                count: count,
                quantity: quantity
            },
            method: "post",
            success: (response) => {
                if (response.status) {
                    location.href = "/food"
                }
            }
        })
    }
    function removeFood(cartId, foodId) {

        $.ajax({
            url: '/remove-food',
            data: {
                cart: cartId,
                food: foodId
            },
            method: "post",
            success: (response) => {
                alert("Item Removed")
                if (response) {
                    location.reload();
                }
            }
        })
    }

  



</script>